:root {
    --color01: hsl(220, 0%, 100%);
    --color02: hsl(220, 0%, 98%);
    --color03: hsl(220, 0%, 96%);
    --color05: hsl(203, 71%, 20%);
    --color06: hsl(203, 80%, 30%);
    --color07: hsl(0, 0%, 35%);
    --color08: hsl(0, 60%, 40%);
    --color09: #d66161;
    --color10: hsl(10, 100%, 90%);

    --highlight01: hsla(0, 0%, 100%, 90%);
    --shadow: #0f3b570d;
    --shadowHover: #0f3b5726;
    --shadow01: hsla(203, 71%, 5%, 80%);
    --shadow02: hsla(203, 71%, 5%, 90%);
    --true: green;
    --false: #ff0000;
}

.c01 {
    color: var(--color01);
}
.c02 {
    color: var(--color02);
}
.c03 {
    color: var(--color03);
}
.c04 {
    color: var(--color04);
}
.c05 {
    color: var(--color05);
}
.c06 {
    color: var(--color06);
}
.c07 {
    color: var(--color07);
}
.c08 {
    color: var(--color08);
}
.c09 {
    color: var(--color09);
}
.c10 {
    color: var(--color10);
}

.bg01 {
    background-color: var(--color01);
}
.bg02,
#container {
    background-color: var(--color02);
}
.bg03,
body {
    background-color: var(--color03);
}
.bg04 {
    background-color: var(--color04);
}
.bg05 {
    background-color: var(--color05);
}
.bg06 {
    background-color: var(--color06);
}
.bg07 {
    background-color: var(--color07);
}
.bg08 {
    background-color: var(--color08);
}
.bg09 {
    background-color: var(--color09);
}
.bg10 {
    background-color: var(--color10);
}
